<div class="container">
	<div class="page-header">
		<h1>
			{{operacao}} <small>{{smallOperacao}}</small>
		</h1>
	</div>
	<div class="jumbotron">
		<h2>{{foto.titulo}}</h2>
	</div>
	<div class="col-sm-6">
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
		<form (submit)="cadastrar($event)" class="row">

			<div class="form-group">
				<label>Título</label> <input [(ngModel)]="foto.titulo"
					class="form-control" name="titulo">
			</div>
			<div class="form-group">
				<label>URL</label> <input [(ngModel)]="foto.url" name="url"
					class="form-control">
			</div>
			<div class="form-group">
				<label>Descrição</label>
				<textarea [(ngModel)]="foto.descricao" name="descricao"
					class="form-control">
  </textarea>
			</div>
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a [routerLink]="['/lista']" class="btn btn-danger">Voltar</a>

		</form>
	</div>

	<aside class="col-sm-6">
		<Foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></Foto>
	</aside>

</div>

