<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                      <a [routerLink]="['/cadastro']" class="btn btn-primary">
                      Nova foto
                      </a>
                    </span>
                    <!-- campo para filtrar pelo titulo -->
                    <input #textoProcurado (keyup)="0" class="form-control" placeholder="Filtrar por título">
                  </div>
            </form>
        </div> <!-- fim
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
<br>
    <div class="page-header">
        <h1>Todas as fotos <small>só coisa linda</small></h1>
    </div>
    <div class="row">
      <Painel *ngFor="let foto of fotos | filtroPorTitulo:textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="col-md-2">
        <Foto  url="{{foto.url}}" titulo="{{foto.titulo}}" ></Foto>
      </Painel>
    </div>
</div>