<section class="jumbotron">
    <div class="container">
        <h1>Bem vindo ao {{title}}</h1>
        <p>A sua galeria de fotos.</p>
        <p><a class="btn btn-primary btn-lg" [routerLink]="['/destroy']" role="button">Destroy the world</a></p>
    </div>
</section>
<div class="container">
        <div class="page-header">
            <h1>
                Seu portal para visualização e upload de fotos <small>ou
                    quase isso <b>¯\_(ツ)_/¯</b>
                </small>
            </h1>
        </div>
    </div>